---
layout: default
title: All Posts
permalink: /posts/
---

<h1>All Journal Entries</h1>

<ul>
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            - {{ post.date | date: "%B %d, %Y" }}
        </li>
    {% endfor %}
</ul>

<!-- Pagination Links -->
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
    {% endif %}
</div>

<a href="{{ '/' | relative_url }}">Back to Home</a>