---
layout: page
title: Projects
permalink: /projects/
---

<h1>My Projects</h1>

<div id="projects-container">
  {% for project in site.data.projects %}
  <div class="project">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <p>Last updated: {{ project.updated_at }}</p>
    <p>Languages: {{ project.language }}</p>
    <a href="{{ project.html_url }}">GitHub Repo</a>
    {% if project.homepage %}
    | <a href="{{ project.homepage }}">Live Demo</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
