---
---

@import "{{ site.theme }}";
body {
  background-color: #ffffff; /* White background */
  color: #333333; /* Dark grey text for better readability */
}

h1, h2, h3, h4, h5, h6 {
  color: #333333; /* Dark grey for headings */
}

a {
  color: #0066cc; /* Standard link color */
  text-decoration: none; /* Removes underline from links */
}

a:hover {
  color: #0055a3; /* Slightly darker blue for link hover state */
}

hr {
  border-top: 1px solid #eeeeee; /* Light horizontal rule */
}

/* Additional styles for better contrast and spacing */
p, li, .footer {
  line-height: 1.6; /* Increases line height for better readability */
  margin-bottom: 1rem; /* Adds space below paragraphs and list items */
}

/* Container for navigation links */
.navigation {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  padding: 10px; /* Adjust as needed */
}

/* Style for each navigation link */
.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px; /* Space between links */
  background-color: #0078D7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #0056a3;
}

@media (max-width: 600px) {
  .navigation {
      flex-direction: column;
      align-items: flex-end;
  }

  .nav-link {
      margin-top: 10px;
  }
}

.fixed-quote {
  position: fixed;
  top: 0;
  right: 0; // Aligns the quote to the top right
  background-color: white; // Or any other color you want
  padding: 10px;
  z-index: 1000; // Ensures it stays above other content
  font-style: italic; // Makes the text italicized
}

.MathJax {
  font-size: 1.1em;
}

#project-categories {
  margin-bottom: 2em;
}

#project-categories ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#project-categories li {
  margin: 0 10px;
}

section {
  margin-bottom: 3em;
}

section h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

section ul {
  list-style-type: none;
  padding-left: 0;
}

section li {
  margin-bottom: 1.5em;
}

section h3 {
  margin-bottom: 0.5em;
}

section p {
  margin-bottom: 0.5em;
}



